<link rel="stylesheet" href="https://promo-manager.netlify.app/promo-style.css">
<style>
    body { margin-bottom:25px; }
</style>

{{- /* SEO: Basic Meta Description */ -}}
{{- with .Description -}}
<meta name="description" content="{{ . }}">
{{- else -}}
{{- with .Site.Params.description -}}
<meta name="description" content="{{ . }}">
{{- end -}}
{{- end -}}

{{- /* SEO: Open Graph */ -}}
<meta property="og:title" content="{{ .Title }}">
{{- with .Description -}}
<meta property="og:description" content="{{ . }}">
{{- else -}}
{{- with .Site.Params.description -}}
<meta property="og:description" content="{{ . }}">
{{- end -}}
{{- end -}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with .Params.image -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- else -}}
{{- with .Site.Params.sidebar_avatar -}}
<meta property="og:image" content="{{ . | absURL }}">
{{- end -}}
{{- end -}}

{{- /* SEO: Twitter Card */ -}}
<meta name="twitter:card" content="{{ if .Params.image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ .Title }}">
{{- with .Description -}}
<meta name="twitter:description" content="{{ . }}">
{{- else -}}
{{- with .Site.Params.description -}}
<meta name="twitter:description" content="{{ . }}">
{{- end -}}
{{- end -}}
{{- with .Params.image -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- else -}}
{{- with .Site.Params.sidebar_avatar -}}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end -}}
{{- end -}}
{{- with .Site.Params.twitter -}}
<meta name="twitter:creator" content="@{{ . }}">
{{- end -}}
